.servicesList {
    display: flex;
    justify-content: space-around;
}
.servicesItem {
    list-style: none;
}

.servicesIcon {
    width: 120px;
}

.servicesLable {
    font-size: 16px;
}

@media only screen and (max-width: 600px) { 
    .servicesContainer {
        margin-top: 40px;
    }
    
    .sectionHeader {
        font-size: 24px;
    }
    .servicesList {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }
    .servicesIcon {
        width: 60px;
    }
    .servicesLable {
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
    }
}    