.portfolioContainer {
    margin-bottom: 50px;
}
.portfolioCards {
  display: flex;
  justify-content: space-around;
}
.portfolioItems {
    box-shadow: -5px 6px 17px rgba(0, 0, 0, 0.25);
}
.portfolioLink{
    text-decoration: none;
    color: black;
}
.portfolioItems:hover{
    box-shadow: 0px 0px 16px 1px rgba(0, 117, 145, 0.8);
}
.portfolioName {
  font-family: 'Alata';
  font-weight: 400;
  font-size: 24px;
  margin: 10px 0 10px 0;
}
