.skillsContainer {
    text-align: center;
    max-width: 1400px;
    margin: auto;
}
.skillsList {
    padding-left: 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 0; */
}
.skillsItem {
    list-style: none;
    margin-right: 130px;
    width: 120px;
}

.skillsIcon {
    max-height: 120px;
}

.skillsLable {
    font-size: 16px;
}
